@{
    ViewData["Title"] = "Инструкция";
}

<h3>Account Holder инструкция</h3>

<ul style="list-style:none;">
    <li><a href="#buttons">Панель кнопок</a></li>
    <li><a href="#accountsTable">Таблица аккаунтов</a><a></a></li>
    <li><a href="#status">Блок "Статус"</a></li>
    <li><a href="#addAcc">Блок "Добавить аккаунт"</a></li>
    <li><a href="#apple">"ID Золотого яблока"</a></li>
    <li><a href="#work">Особенности работы</a></li>
</ul>

<div>
    <h4 id="buttons"><b>Панель кнопок</b></h4>
    <img src="~/img/ahGuide/2.png" />
    <ul>
        <li><b>Кнопка "Создать новый список"</b> - создает новый список аккаунтов в отдельном файле (имя файла можно увидеть в блоке "Статус");</li>
        <li><b>Кнопка "Добавить список"</b> - добавляет к текущему списку аккаунты из заранее заготовленного файла (подробнее в разделе "Добавление аккаунтов из файла");</li>
        <li><b>Кпопка "Загрузить список"</b> - загружает ранее созданный список аккаунтов;</li>
        <li><b>Кнопка "Пройти обучение"</b> - запускает прохождение обучения на всех аккаунтах в списке <b>по порядку</b>;</li>
        <li><b>Кнопка "Прогнать список"</b> - запускает прогон списка аккаунтов (подробнее в разделе особенности работы);</li>
        <li><b>Кнопка "Удалить список"</b> - удаляет ранее созданный список аккаунтов;</li>
    </ul>
</div>

<div>
    <h4 id="accountsTable"><b>Таблица аккаунтов</b></h4>
    <img src="~/img/ahGuide/3.png" />
    <p>Сверху отображается количество аккаунтов в списке.</p>
    <p><b>Кнопка "Удалить аккаунт"</b> - удаляет выбранный аккаунт из списка.</p>
</div>

<div>
    <h4 id="status"><b>Блок "Статус"</b></h4>
    <img src="~/img/ahGuide/4.png" />
    <ul>
        <li><b>"Имя файла"</b> - отображает имя файла, в котором находится созданный или загруженный список;</li>
        <li><b>"Аккаунт"</b> - отображает, какой аккаунт по порядку сейчас идёт (работает во время обучения или прогона);</li>
        <li><b>"Статус"</b> - отображает, какое действие в обучении сейчас идёт (работает во время обучения);</li>
    </ul>
</div>

<div>
    <h4 id="addAcc"><b>Блок "Добавить аккаунт"</b></h4>
    <img src="~/img/ahGuide/5.png" />
    <p>Здесь происходит добавление аккаунта в созданный список.</p>
    <ul>
        <li><b>Поле "Логин"</b> - ввод логина для аккаунта;</li>
        <li><b>Поле "Пароль"</b> - ввод пароля для аккаунта;</li>
        <li><b>Кнопка "Добавить"</b> - производит добавление аккаунта в созданный список;</li>
    </ul>
</div>

<div>
    <h4 id="apple"><b>"ID Золотого яблока"</b></h4>
    <img src="~/img/ahGuide/6.png" />
    <p>Во время обучения есть этап навешивания золотого яблока на лошадь, в этом поле вводится id золотого яблока, которое вы хотите повесить. Золотое яблоко, которое стоит стандартно:</p>
    <img src="~/img/ahGuide/7.jpg" />
    <p>Можно брать золотые яблоки только для верховых лошадей (или пони, если акк создан с пони), яблоко должно быть без ограничений. <a href="https://www.lowadi.com/communaute/creation?creationNom=&populariteComparaison=g&popularite=0&dessinateur=&espece=1&utilisationsActivesComparaison=g&utilisationsActives=0&po=1&pod=2&compatibleRayonHelios=2&portee=2&creationsPreferees=2&limite=0&couleurDominante=0&lang-fr=2&lang-en=2&lang-es=2&lang-de=2&lang-ru=2&lang-it=2&lang-pl=2&lang-nl=2&lang-pt=2&lang-se=2&lang-br=2&lang-us=2&lang-au=2&lang-uk=2&lang-ca=2&lang-cz=2&lang-dk=2&lang-fi=2&lang-il=2&lang-no=2&lang-ae=2&lang-ro=2&lang-hu=2&lang-bg=2&lang-si=2&lang-sk=2&detail=1&type=robe&page=0&tri=popularite&sens=DESC&rechercher=">Тык по этой ссылке</a>, чтобы открыть поиск с подходящими яблоками.</p>

</div>

<div>
    <h4 id="work"><b>Особенности работы</b></h4>
    <p>Программа Account Holder предназначена для прохождения обучения на аккаунтах. Аккаунт обязательно должен быть без обучения т.е. обучение вообще не должно быть тронуто, или возможны ошибки. Также программа может выполнять обычный прогон аккаунтов, т.е. заходит на аккаунт, фиксирует кол-во стажа, выходит и ничего более.</p>
    <p>Для начала работы включите программу и создайте первый список аккаунтов:</p>
    <img src="~/img/ahGuide/8.png" />
    <p>Введите данные для аккаунта и нажмите кнопку добавить:</p>
    <img src="~/img/ahGuide/9.jpg" />
    <p>После этого ваш первый список аккаунтов будет создан. После перезахода в программу его можно будет загрузить нажав кнопку "Загрузить список":</p>
    <img src="~/img/ahGuide/10.png" />
    <p>В открывшемся окне выберите нужный список аккаунтов и нажмите "Открыть":</p>
    <img src="~/img/ahGuide/11.jpg" />
    <p>После составления списка аккаунтов <b>(аккаунты обязательно должны быть зарегистрированы в игре!)</b> нажмите "Пройти обучение" для прохождения обучения (после окончания обучения, у аккаунта в таблице, в колонке обучения, будет стоять "Да") или "Прогнать список" (после захода на аккаунт, программа запишет его стаж в таблицу и сохранит все аккаунты в файл, стаж тоже будет сохранен).</p>
    <p>Если какой-то список аккаунтов вам больше не нужен, вы можете удалить его нажав кнопку "Удалить список", откроется окно, где вы выберете список для удаления.</p>
    <p>Если у вас уже имеется внушительный список аккаунтов можно его быстро внести через кнопку "Добавить список". Вам необходимо заранее подготовить текстовой файл в котором каждый аккаунт будет прописан таким образом (логин:пароль. На один аккаунт одна строка):</p>
    <img src="~/img/ahGuide/12.jpg" />
    <p>После создания файла, нажимите в программе кнопку "Добавить список" и откройте созданный файл.</p>
</div>