@{
    ViewData["Title"] = "Bot Qually";
}
<div data-aos="zoom-in">
    <h3 class="text-center">Bot Qually - бот для прогона табунов</h3>
    <figure class="text-center">
        <img src="~/img/BotQuallyMainWindow.png" class="figure-img img-fluid rounded" style="width:400px;" alt="botqually">
        <figcaption class="figure-caption text-center">Внешний вид главного окна Bot Qually</figcaption>
    </figure>
    <div>
        <p>Программа Bot Qually предназначена для прогона большого числа лошадей и аккаунтов. Основные функции бота:</p>
        <ul>
            <li>Стандартные действия прогона, такие как чистка, миссия, кормление и сон;</li>
            <li>Запись в КСК, общественный или зарезервированный;</li>
            <li>Предложение общественных случек жеребцами и принятие случек кобылами;</li>
            <li>Рождение жеребят и их именование с возможностью дать завод, аффикс;</li>
            <li>Докупка фуража и овса, продажа пшеницы при нехватке экю.</li>
        </ul>
        <p>Средняя скорость работы бота составляет 1000 лошадей/30 мин. Загруженные аккаунты могут быть запущены как последовательно, так и параллельно. Доступно более 30 различных настроек с возможностью их сохранения для каждого аккаунта. Поддерживается вход через прокси. Бот работает на 16 различных игровых серверах, список пополняется по запросу к администрации.</p>
    </div>
    <figure class="text-center">
        <img src="~/img/BotQuallySettings.png" class="figure-img img-fluid rounded" style="width:400px;" alt="botquallysettings">
        <figcaption class="figure-caption text-center">Доступные настройки</figcaption>
    </figure>
    <div class="text-center"><a asp-controller="Subscribe" asp-action="Index" class="btn btn-primary btn-lg" style="margin-top: 10px;">Подписаться</a></div>
</div>