@{
    ViewData["Title"] = "Инструкция";
}

<h3 class="text-center"><b>Bot Qually инструкция</b></h3>

<ul style="list-style:none;">
    <li><a href="#mainWindow">Главное окно</a></li>
    <li><a href="#loginWindow">Окно входа</a><a></a></li>
    <li><a href="#settingsWindow">Окно настроек</a></li>
    <li><a href="#coWindow">Окно входа в соу</a></li>
    <li><a href="#manageWindow">Окно управления аккаунтом</a></li>
    <li><a href="#statusWindow">Окно статуса</a></li>
    <li><a href="#reportWindow">Окно отправки ошибки/предложения</a></li>
    <li><a href="#advise">Советы по использованию программы</a></li>
    <li><a href="#changeList">Краткий список изменений для старых пользователей</a></li>
</ul>

<div>
    <h4 id="mainWindow"><b>Главное окно</b></h4>
    <p>Сверху находится кнопка открытия общих настроек:</p>
    <img src="~/img/bqGuide/1.jpg" />
    <img src="~/img/bqGuide/2.jpg" />
    <ul>
        <li><b>Галочка "Случайные паузы"</b> - включает случайные паузы между действиями во время прогона;</li>
        <li><b>Галочка "Праллельные лошади"</b> - включает параллельный прогон по 5 лошадей (ускоряет прогон в целом);</li>
        <li><b>Список "Сортировка"</b> - отвечает за то, в каком порядке будут загружаться и прогоняться лошади;</li>
        <li><b>Список "Режим работы"</b> - переключает режимы работы с аккаунтами;</li>
        <li><b>Список "Интернет"</b> - здесь можно выбрать, каким подключением будет пользоваться программа (функция в основном для старых пользователей). По собственным наблюдениям: новый - менее быстрый, но стабильный, старый - более быстрый, но менее стабильный. Совет администрации: пользоваться новым.</li>
    </ul>
    <h5>Режимы работы</h5>
    <ul>
        <li><b>"Очередь с разными настройками"</b> - аккаунты в списке будут прогоняться один за другим, то есть: закончился 1-ый аккаунт начался прогон 2-ого, настройки каждому аккаунту можно поставить отдельно от других. Например: на одном аккаунте будут делаться случки а на другом нет, или на разных аккаунтах будут разные предметы для продажи;</li>
        <li><b>"Очередь с одинаковыми настройками"</b> - аккаунты в списке будут прогоняться один за другим, то есть: закончился 1-ый аккаунт начался прогон 2-ого, настройки всех аккаунтов одни и те же. Например: если вы открыли окно настроек и поставили запись в КСК на 10 дней, то на всех аккаунтах будет производиться запись в КСК 10 дней;</li>
        <li><b>"Параллельно с разными настройками"</b> - аккаунты в списке будут прогоняться параллельно, то есть: все аккаунты в списке прогоняются одновременно, настройки каждому аккаунту можно поставить отдельно от других. Например: на одном аккаунте будут делаться случки, а на другом нет, или на разных аккаунтах будут разные предметы для продажи;</li>
        <li><b>"Параллельно с одинаковыми настройками"</b> - аккаунты в списке будут прогоняться параллельно, то есть: все аккаунты в списке прогоняются одновременно, настройки всех аккаунтов одни и те же. Например: если вы открыли окно настроек и поставили запись в КСК на 10 дней, то на всех аккаунтах будет производиться запись в КСК 10 дней.</li>
    </ul>


    <p><b>Список аккаунтов</b> - здесь отображаются все добавленные аккаунты:</p>
    <img src="~/img/bqGuide/3.png" />
    <ul>
        <li><b>Кнопка "Добавить аккаунт"</b> - переводит вас на окно логина, где вы можете войти в нужный вам аккаунт;</li>
        <li><b>Кнопка "Удалить аккаунт"</b> - удаляет выбранный аккаунт из списка сохранённых;</li>
        <li><b>Кпопка "Войти в соу"</b> - открывает окно входа в соу, где вы можете выбрать доступные вам соу;</li>
        <li><b>Кнопка "Сохранить соу"</b> - сохраняет выбраный аккаунт (если он соу) в список сохранненых аккаунтов в окне логина;</li>
        <li><b>Кнопка "Настройки"</b> - открывает окно настроек;</li>
        <li><b>Кнопка "Управление аккаунтом"</b> - открывает окно покупки/продажи некоторых предметов на аккаунте;</li>
        <li><b>Кнопка "Сохранить список аккаунтов"</b> - сохраняет список аккаунтов в файл для быстрой загрузки, добавленные  в очередь заводы также сохраняются;</li>
        <li><b>Кнопка "Загрузить список аккаунтов"</b> - загружает сохранненый ранее список аккаунтов;</li>
        <li><b>Кнопка "Открыть статус"</b> - открывает окно статуса;</li>
    </ul>
    <img src="~/img/bqGuide/4.png" />
    <p><b>Блок информации</b> - здесь отображается информация о выбранном аккаунте.</p>
    <img src="~/img/bqGuide/5.png" />
    <p><b>Список "Заводы"</b> - здесь отображаются все заводы на аккаунте.</p>
    <img src="~/img/bqGuide/6.png" />
    <p><b>Кнопки "+", "-", "↺"</b> - служат для, соответственно, добавления, удаления, или очистки очереди заводов на прогон.</p>
    <img src="~/img/bqGuide/7.png" />
    <p><b>Список "Очередь"</b> - здесь отображаются заводы, добавленные для прогона.</p>
    <img src="~/img/bqGuide/8.png" />
    <ul>
        <li><b>Кнопка "Прогнать"</b> - запускает прогон выбранного в списке аккаунта, если был выбран параллельный режим, или просто запускает прогон, если был выбран режим очереди;</li>
        <li><b>Кнопка "Прогнать все"</b> - запускает прогон всех аккаунтов (работает только в параллельном режиме);</li>
        <li><b>Кнопка "Остановить"</b> - останавливает прогон выбранного в списке аккаунта, если был выбран параллельный режим, и просто останавливает прогон, если был выбран режим очереди;</li>
        <li><b>Кнопка "Остановить все"</b> - останавливает прогон всех аккаунтов (работает только в параллельном режиме);</li>
    </ul>
    <img src="~/img/bqGuide/9.png" />
    <p>На нижней панели можно увидеть версию программы, а также какой режим сейчас установлен.</p>
    <img src="~/img/bqGuide/10.png" />
</div>

<div>
    <h4 id="loginWindow"><b>Окно входа</b></h4>
    <p>Кнопка в виде стрелки служит для возвращения на главную страницу:</p>
    <img src="~/img/bqGuide/11.png" />
    <p>Слева находятся поля ввода данных для входа в аккаунт:</p>
    <img src="~/img/bqGuide/12.png" />
    <ul>
        <li><b>Поле "Логин"</b> - поле ввода логина;</li>
        <li><b>Поле "Пароль"</b> - поле ввода пароля;</li>
        <li><b>Галочка "Запомнить данные"</b> - при её включении после успешного входа аккаунт будет добавлен в список "Сохранненые аккаунты";</li>
        <li><b>Прокси "IP"</b> - поле ввода ip прокси. Если не хотите использовать прокси - оставьте поле пустым;</li>
        <li><b>Прокси "Логин"</b> - поле ввода логина прокси. Если ваш прокси не использует логин - оставьте поле пустым;</li>
        <li><b>Прокси "Пароль"</b> - поле ввода пароля прокси;</li>
        <li><b>Список "Сервер"</b> - список для выбора сервера. Если вы не видите вашего сервера - просьба написать администрации;</li>
        <li><b>Кнопка "Войти"</b> - осуществляет вход в аккаунт.</li>
    </ul>
    <p>Справа находится список "Сохранненые аккаунты". Здесь можно выбрать заранее сохранненый аккаунт. Аккаунты могут сохраняться под одним логином для разных серверов. Аккаунты могут быть сохраннены в режиме соу. Рядом с каждым аккаунтом присутствует подпись, на каком сервере был сохранен этот аккаунт и находится ли он в режиме соу;</p>
    <p>Под списком аккаунтов находятся кнопки "Удалить" и "Очистить". Кнопка "Удалить" - удаляет выбранный в списке аккаунт. Кнопка "Очистить" - очищает весь список;</p>
    <img src="~/img/bqGuide/13.png" />
    <h5>Маленькая инструкция по быстрому входу</h5>
    <p>Для новых аккаунтов всегда ставьте галочку "Запомнить данные", новые аккаунты добавятся в список "Сохранненые аккаунты". Если вам нужно быстро войти в сохранненый аккаунт, выберите его из списка и нажмите кнопку "Войти".</p>
</div>

<div>
    <h4 id="settingsWindow"><b>Окно настроек</b></h4>
    <h5>Случки Жен</h5>
    <ul>
        <li><b>Галочка "Вкл/Выкл"</b> - соответственно включает или выключает случки у кобыл;</li>
        <li><b>Галочка "Чистокровные"</b> - отвечает за то, будут ли подбираться жеребцы для случек такой же породы, как и кобыла;</li>
        <li><b>Галочка "Свои жеребцы"</b> - отвечает за то, будут ли подбираться именно ваши жеребцы (с текущего аккаунта) для случек;</li>
        <li><b>Галочка "Покупать пшеницу"</b> - при включении в начале прогона убирает экю в пшеницу оставляя 8000 экю;</li>
        <li><b>Список "Цена до"</b> - выбор, за какую максимальную цену будет производиться поиск случки;</li>
        <li><b>Поле "Заводчик"</b> - сюда указывается, от какого заводчика будет производиться поиск случек, если заводчик не важен, оставьте поле пустым.</li>
    </ul>
    <img src="~/img/bqGuide/14.png" />
    <h5>Случки Муж</h5>
    <ul>
        <li><b>Галочка "Вкл/Выкл"</b> - соответственно включает или выключает случки у жеребцов;</li>
        <li><b>Список "Цена"</b> - выбор, за какую цену будут отправляться случки;</li>
        <li><b>Галочка "Морковь"</b> - отвечает за то, будет ли даваться морковь для восстановления энергии после случек.</li>
    </ul>
    <img src="~/img/bqGuide/15.png" />
    <h5>Жеребята</h5>
    <ul>
        <li><b>Поле "Имя муж"</b> - поле для ввода имени для рождающихся жеребят мужского пола;</li>
        <li><b>Поле "Имя жен"</b> - поле для ввода имени для рождающихся жеребят женского пола;</li>
        <li><b>Галочка "Случайные имена"</b> - отвечает за то случайный выбор имени жеребятам из предустановленного или составленного вами списка;</li>
        <li><b>Поле "Аффикс"</b> - поле для ввода вашего аффикса, который будет установлен жеребятам после родов;</li>
        <li><b>Поле "Завод"</b> - поле для ввода вашего завода, куда будут отправлены жеребята после родов.</li>
    </ul>
    <img src="~/img/bqGuide/16.png" />
    <h5>КСК общие</h5>
    <ul>
        <li>Список с выбором кол-ва дней, на которое будут записываться лошади;</li>
        <li><b>Галочка "С фуражом"</b> - отвечает за то, будут ли подбираться КСК с фуражом;</li>
        <li><b>Галочка "С овсом"</b> - отвечает за то, будут ли подбираться КСК с овсом.</li>
    </ul>
    <h5>КСК резерв</h5>
    <ul>
        <li>Поле "ID" - поле для ввода id резервного КСК, если не надо использовать резерв КСК, то оставьте поле пустым;</li>
        <li>Галочка "Свой" - отвечает за то будет ли производиться поиск резервного КСК, принадлежащего именно данному аккаунту, если стоит галочка свой, то ID вводить не нужно. Отключайте галочку, если нужно, чтобы программа писала в общие КСК;</li>
        <li>Список с выбором кол-ва дней на которое будут записываться лошади в резервный КСК; <b>ВАЖНО! ПРОВЕРЯЙТЕ ЧТОБЫ В РЕЗЕРВНОМ КСК ХВАТАЛО СТОЙЛ НА ЛОШАДЕЙ ИМЕННО НА УКАЗАННОЕ КОЛ-ВО ДНЕЙ!</b></li>
        <li><b>Галочка "Дозапись в общие"</b> - отвечает за то, будут ли лошади дозаписываться в общие КСК, если по какой-то причине не удалось записать в резервный;</li>
        <li><b>Галочка "Продлевать"</b> - отвечает за то, будет ли продлеваться проживание в КСК;</li>
        <li>Список с выбором кол-ва дней, на которое будут производиться продление в КСК.</li>
    </ul>
    <img src="~/img/bqGuide/17.png" />
    <h5>Покупка/Продажа</h5>
    <ul>
        <li><b>Список "Кол-во фуража"</b> - выбор, сколько будет покупаться фуража в случае нехватки. Если не нужно производить покупку, выберите пустой вариант;</li>
        <li><b>Список "Кол-во овса"</b> - выбор, сколько будет покупаться овса в случае нехватки. Если не нужно производить покупку, выберите пустой вариант;</li>
        <li><b>Список "Продажа основной"</b> - выбор предмета для продажи в случае нехватки экю для покупки, случки или записи в КСК. Если не нужно производить продажу, выберите вариант "Не продавать";</li>
        <li><b>Список "Продажа запасной"</b> - выбор предмета для продажи в случае нехватки экю для покупки, случки или записи в КСК и если по какой-то причине закончился основной предмет продажи. Если не нужно производить продажу, выберите вариант "Не продавать".</li>
    </ul>
    <img src="~/img/bqGuide/18.png" />
    <h5>Прогон</h5>
    <ul>
        <li><b>Галочка "Миссия"</b> - отвечает за то, будет ли делаться миссия во время прогона;</li>
        <li><b>Галочка "Прогон лошади за 30"</b> - отвечает за то, будут ли старые лошади (30 лет и более) прогоняться. Если галочка включена, то прогон будет производиться, если нет, то прогон НЕ будет производиться;</li>
        <li><b>Галочка "Продавать навоз"</b> - при включении продает ВЕСЬ навоз на аккаунте в начале прогона;</li>
        <li><b>Галочка "Загружать спящих"</b> - отвечает за то, будут ли спящие лошади загружены для прогона. Если галочка включена, то спящие лошади будут загружаться;</li>
        <li><b>Галочка "Прогон жеребят"</b> - отвечает за то, будут ли прогоняться рожденные во время прогона жеребята;</li>
        <li><b>Список "Порог здоровья"</b> - выбор того, какие лошади будут пропускаться. Т.е. если был выбран порог 20, то все лошади, у которых здоровье 20 и меньше, будут пропущены программой;</li>
        <li><b>Поле "Начинать с"</b> - поле для ввода числа, с которого будет начинаться прогон. Например: если в заводе 1000 лошадей, вы ввели число 300, то первые 300 лошадей будут пропущены.</li>
    </ul>
    <img src="~/img/bqGuide/19.png" />
    <ul>
        <li><b>Кнопка "Применить"</b> - применяет настройки и возвращает вас на главное окно;</li>
        <li><b>Кнопка "Сохранить в файл"</b> - сохраняет текущие настройки в файл;</li>
        <li><b>Кнопка "Загрузить из файла"</b> - загружает настройки из сохраненного файла;</li>
        <li><b>Кнопка "Сбросить"</b> - сбрасывает все настройки в изначальное состояние;</li>
        <li><b>Кнопка "Назад"</b> - производит выход из настроек без сохранения.</li>
    </ul>
    <img src="~/img/bqGuide/20.png" />
</div>

<div>
    <h4 id="coWindow"><b>Окно входа в соу</b></h4>
    <img src="~/img/bqGuide/21.jpg"/>
    <p>Здесь находится таблица доступных вам для входа соу.</p>
    <p>Если кнопка "Войти" не активна, значит соу аккаунты еще загружаются.</p>
    <p>Если у вас нет доступных соу для входа, вы будете автоматически перенаправлены на главное окно с соответствующим предупреждением.</p>
    <p>Для входа в соу выберете соу из списка и нажмите кнопку "Войти", после входа вы будете автоматически перенаправлены на главное окно.</p>
    <p>Для возвращения без входа нажмите кнопку "Назад".</p>
</div>

<div>
    <h4 id="manageWindow"><b>Окно управления аккаунтом</b></h4>
    <img src="~/img/bqGuide/22.jpg" />
    <p>Здесь можно посмотреть весь список ресурсов/еды на аккаунте, а также купить или продать интересующий ресурс. Для покупки или продажи просто введите рядом с интересующим вас ресурсом число и нажмите соответствующую кнопку. Покупать или продавать можно во время прогона. Для возвращения в главное окно нажмите кнопку "Назад"</p>
</div>

<div>
    <h4 id="statusWindow"><b>Окно статуса</b></h4>
    <img src="~/img/bqGuide/23.png" />
    <p>Здесь можно наблюдать за состоянием прогона аккаунтов. Проценты прогона отображаются рядом с всеми аккаунтами. Справа можно увидеть информацию о выбранном в списке аккаунте. Снизу слева отображается количество аккаунов, находящихся в состоянии прогона, и количество окончивших прогон аккаунтов. Снизу справа находится блок уведомлений, здесь можно увидеть, какие проблемы произошли во время прогона, или же какие аномалии нашла программа на вашем аккаунте, например может высветится, что большое количество лошадей (от 50) с низким показателем здоровья. Кнопка "Назад" возвращает к главному окну.</p>
</div>

<div>
    <h4 id="reportWindow"><b>Окно отправки ошибки/предложения</b></h4>
    <p>Для перехода в это окно нажмите по иконке сверху:</p>
    <img src="~/img/bqGuide/24.jpg" />
    <p>Здесь можно отправить разработчикам предложение для ввода функции или же сообщить о наблюдаемой ошибке. Выберите в списке, что вы хотите отправить, напишите что у вас произошло, как с вами связаться (не обязательно) и нажмите кнопку "Отправить."</p>
    <img src="~/img/bqGuide/25.png" />
</div>

<div>
    <h4 id="advise"><b>Советы по использованию программы</b></h4>
    <p>Добавлять или удалять заводы можно двойным кликом по ним.</p>
    <p>Если вам нужно быстро настроить несколько аккаунтов по примено одним настройкам, сохраните их в файл кнопкой "Сохранить в файл" в окне настроек и загружайте на других аккаунтах кнопкой "Загрузить из файла".</p>
    <p>Не нужно выбирать настройки, которые вам никак не пригодятся, например не надо включать покупку и продажу если уверены, что у вас всего хватает, включение лишних настроек замедляет прогон.</p>
    <p>Не игнорируйте функции программы. Очень часто пользователи не читают, что вводится по их желанию, как следствие нам приходят жалобы, что какое-то действие в программе неудобно, хотя на самом деле это делается совсем по другому. Например: была ситуация, когда нам написал человек, что устал постоянно входить в множество аккаунтов вручную, при том, что функция сохранения списка аккаунтов уже существовала более 2-ух месяцев.</p>
    <p>Не игнорируйте обновления.</p>
    <p>Если по какой-то причине у вас не работает текущая версия программы, но со старой все было впорядке, вы всегда можете установить старую версию через лаунчер.</p>
</div>

<div>
    <h4 id="changeList"><b>Краткий список изменений для старых пользователей</b></h4>
    <ul>
        <li>Изменения в дизайне, весь интерфейс теперь сосредоточен в одном окне;</li>
        <li>Исправлена отправка отчетов, теперь она будет быстрее, можно выбрать: отправляете вы ошибку или хотите что-то предложить, сбои с отправкой приближены к нулю;</li>
        <li>В окне входа всегда видно таблицу с прокси;</li>
        <li>В окне входа все сохранненые аккаунты отображаются в таблице справа;</li>
        <li>Сохранять аккаунты можно под одним логином на разных серверах, в таблице сохранненых аккаунтов рядом будет отображаться, для какого сервера сохранен аккаунт;</li>
        <li>Добавлено отдельное сохранение аккаунта по соу, для этого в главном окне надо выбрать аккаунт (уже будучи залогиненым по соу) и нажать кнопку "Сохранить соу", сохранненый аккаунт появится в таблице логинов в окне логина с припиской "(соу)";</li>
        <li>В главном окне в таблице аккаунтов добавлено отображение соу аккаунтов;</li>
        <li>В главном добавлено "Управление аккаунтом", здесь можно быстро купить/продать еду или предметы;</li>
        <li>Добавлено сохранение заводов (происходит автоматически для всех аккаунтов);</li>
        <li>Переработаны режимы работы. Теперь есть 4 режима: очередь с разными настройками, очередь с одинаковыми настройками, параллельно с разными настройками, параллельно с одинаковыми настройками;</li>
        <li>Добавлен выбор работы с запросами. Новый - режим который используется с версии 8.0 (по наблюдениям работает чуть медленее, но более стабильно), старый - использовался до 8.0 (по наблюдениям работает чуть быстрее, но менее стабильно);</li>
        <li>Убрана возможность сворачивания в трей;</li>
        <li>Убраны уведомления;</li>
        <li>Добавлена возможность продления проживания в КСК;</li>
        <li>Добавлена возможность выбора продажи предмета для пополнения экю. Список предметов: пшеница, кожа, яблоки, морковь, дерево, железо, песок, солома, лен;</li>
        <li>Добавлена возможность выбора дополнительного предмета для продажи, если основной закончился;</li>
        <li>Теперь родившиеся жеребята прогоняются после окончания прогона всех лошадей в заводе;</li>
        <li>Добавлено окно статуса. Здесь можно в удобном списке наблюдать за всеми аккаунтами, возле каждого аккаунта подписаны: проценты прогона, сколько аккаунтов находится в состоянии прогона и сколько уже окончили прогон. Также в маленьком окне уведомлений можно смотреть какие проблемы произошли во время прогона.</li>
    </ul>
</div>

