@{
    ViewData["Title"] = "Инструкция";
}

<h3 class="text-center"><b>Qually Flash инструкция</b></h3>

<ul style="list-style:none;">
    <li><a href="#loginWindow">Окно входа</a><a></a></li>
    <li><a href="#mainWindow">Главное окно</a></li>
    <li><a href="#settingsWindow">Окно настроек</a></li>
    <li><a href="#coWindow">Окно входа в соу</a></li>
    <li><a href="#manageWindow">Окно управления аккаунтом</a></li>
    <li><a href="#statusWindow">Окно статуса</a></li>
    <li><a href="#reportWindow">Окно отправки ошибки/предложения</a></li>
    <li><a href="#advise">Советы по использованию программы</a></li>
    <li><a href="#changeList">Краткий список изменений для старых пользователей</a></li>
</ul>

<div>
    <h4 id="loginWindow"><b>Окно входа</b></h4>
    <p>Кнопка в виде стрелки служит для возвращения на главную страницу:</p>
    <img src="~/img/qfGuide/1.png" />
    <p>Слева находятся поля для ввода данных для входа в аккаунт:</p>
    <img src="~/img/qfGuide/2.png" />
    <ul>
        <li><b>Поле "Логин"</b> - поле ввода логина;</li>
        <li><b>Поле "Пароль"</b> - поле ввода пароля;</li>
        <li><b>Галочка "Запомнить данные"</b> - при её включении, после успешного входа, аккаунт будет добавлен в список "Сохранненые аккаунты";</li>
        <li><b>Прокси "IP"</b> - поле ввода ip прокси. Если не хотите использовать прокси - оставьте поле пустым;</li>
        <li><b>Прокси "Логин"</b> - поле ввода логина прокси. Если ваш прокси не использует логин - оставьте поле пустым;</li>
        <li><b>Прокси "Пароль"</b> - поле ввода пароля прокси;</li>
        <li><b>Список "Сервер"</b> - список для выбора сервера. Если вы не видите вашего сервера - просьба написать администрации;</li>
        <li><b>Кнопка "Войти"</b> - осуществляет вход в аккаунт.</li>
    </ul>
    <p>Справа находится список "Сохранненые аккаунты", здесь можно выбрать заранее сохранненый аккаунт. Аккаунты могут сохраняться под одним логином для разных серверов. Аккаунты могут быть сохраннены в режиме соу. Рядом с каждым аккаунтом присутствует подпись на каком сервере был сохранен этот аккаунт и находится ли он в режиме соу:</p>
    <img src="~/img/qfGuide/3.png" />
    <p>Под списком аккаунтов находятся кнопки "Удалить" и "Очистить". Кнопка "Удалить" - удаляет выбранный в списке аккаунт. Кнопка "Очистить" - очищает весь список.</p>
    <h5>Маленькая инструкция по быстрому входу</h5>
    <p>Для новых аккаунтов всегда ставьте галочку "Запомнить данные". Новые аккаунты добавятся в список "Сохранненые аккаунты".</p>
    <p>Если вам нужно быстро войти в сохранненый аккаунт, выберите его из списка и нажмите кнопку "Войти".</p>
</div>

<div>
    <h4 id="mainWindow"><b>Главное окно</b></h4>
    <p>В левом углу находится информация об аккаунте:</p>
    <img src="~/img/qfGuide/4.png" />
    <ul>
        <li><b>Кнопка "Войти в соу"</b> - открывает окно входа в соу, где вы можете выбрать доступные вам соу;</li>
        <li><b>Кнопка "Перезагрузить заводы"</b> - перезагружает заводы. Нужна если вы добавили/удалили/переименовали какой-либо завод уже после того, как вошли в аккаунт в программе;</li>
        <li><b>Кнопка "Управление аккаунтом"</b> - открывает окно покупки/продажи предметов на аккаунте;</li>
        <li><b>Кнопка "Сохранить соу"</b> - сохраняет аккаунт (если он соу) в список сохранненых аккаунтов в окне логина;</li>
        <li><b>Кнопка "Выйти"</b> - осуществляет выход из аккаунта, чтобы войти в другой.</li>
    </ul>
    <img src="~/img/qfGuide/5.png" />

    <p>Здесь находится основное окно управление заводами:</p>
    <img src="~/img/qfGuide/6.png" />
    <ul>
        <li><b>Список "Сортировка"</b> - служит для выбора сортировки, по которой будут загружаться заводы;</li>
        <li><b>Поле "Фильтр"</b> нужно для поиска лошади в загруженом заводе, можно вводить, например, конкретное значение ГП лошади, если её имя было выставлено с ним;</li>
        <li><b>Галочка "Многострочный"</b> - переключает таблицу из однострочного режима перелистывания в режим, когда видны сразу все заводы;</li>
    </ul>
    <p>Это основная таблица с заводами:</p>
    <img src="~/img/qfGuide/6.5.png" />
    <p>Чтобы в ней начали отображаться лошади, выберите интересующий вас завод и нажмите кнопку <b>"Загрузить"</b>.</p>
    <p>Чтобы выбрать лошадь для кача, выберите её из списка лошадей и нажмите кнопку <b>"Добавить"</b>.</p>

    <p>В нижней части окна находится вся информация о добавленных лошадях.</p>
    <p>В таблице <b>"Лошади"</b> находятся добавленные для кача лошадь/лошади:</p>
    <img src="~/img/qfGuide/7.png" />
    <ul>
        <li><b>Кнопка "Удалить"</b> - убирает лошадь из списка для кача.</li>
        <li><b>Кнопка "Жер/Коб"</b> - имеет значение при каче с абортами. Показывает в реальном времени, какого пола жеребенок должен родиться следующим для кача, согласно схеме. Если на узи окажется жеребёнок пола, не совпадающего с тем, что указан на кнопке - будет сделан аборт. Если вы хотите изменить пол рождаемого жеребенка - нажимите на кнопку. Эта кнопка активна только в полупаре. </li>
    </ul>
    <p>В блоке <b>"Информация"</b> находится информация о выбранной в таблице лошади:</p>
    <img src="~/img/qfGuide/8.png" />
    <p>В блоке <b>"Схема"</b> отображается схема кача, составленная вами в настройках, также в ней можно видеть, какие этапы лошадь уже закончила - они будут отмечены соответствующей галочкой:</p>
    <img src="~/img/qfGuide/9.png" />

    <ul>
        <li><b>Кнопка "Запуск"</b> - запускает процесс кача;</li>
        <li><b>Кнопка "Остановить"</b> - останавливает процесс кача;</li>
        <li><b>Кнопка "Настройки"</b> - открывает окно настроек;</li>
        <li><b>Кнопка "Статус"</b> - открывает окно статуса;</li>
    </ul>
    <img src="~/img/qfGuide/10.png" />
</div>

<div>
    <h4 id="settingsWindow"><b>Окно настроек</b></h4>
    <h5>Общие</h5>
    <ul>
        <li><b>Галочка "Игры"</b> - включает/отключает проведение игр у жеребят;</li>
        <li><b>Галочка "Урок с 2-х лет"</b> - включает/отключает выполнение миссий на протяжение всего кача;</li>
        <li><b>Галочка "Урок после трен."</b> - включает/отключает выполнение миссий у лошадей, закончивших установленную вами схему кача;</li>
        <li><b>Галочка "С абортами"</b> - включает/отключает аборты (с галочкой бот делает аборты, без галочки - не делает).</li>
    </ul>
    <img src="~/img/qfGuide/11.png" />

    <h5>Ограничения</h5>
    <ul>
        <li>Выбор из <b>"Кол-во лошадей" и "Кол-во ОР"</b> определит критерий, по которому должен остановиться процесс кача. В поле ниже вводится кол-во лошадей/ОР. При выборе <b>"Кол-во лошадей"</b> и кол-ве, например, 10, бот прокачает 10 лошадей и остановит работу. При выборе <b>"Кол-во ОР"</b> и кол-ве, например, 1000, бот остановит кач, когда на аккаунте останется 1000 ОР;</li>
        <li>Выбор <b>"Случки с..."</b> - устанавливает, начнутся случки при достижении лошадью 60 НЛНП или с 10 лет. Т.е. при выборе "С 60 НЛНП" случки могут начаться раньше или позже (в зависимости от схемы и кол-ва побед) 10-и лет;</li>
        <li><b>"Здоровье"</b> - порог здоровья лошади, если здоровье опустится ниже указанного уровня, кач остановится и появится оповещение.</li>
    </ul>
    <img src="~/img/qfGuide/12.png" />

    <h5>Случки/Роды</h5>
    <ul>
        <li><b>Число случек от муж. в парт</b> - устанавливает, сколько случек жеребец отправит на командные;</li>
        <li><b>Имя муж/имя жен</b> - установка имён для конкретного пола;</li>
        <li><b>Приписка к ГП</b> - десятичные цифры из ГП по установленному навыку, допишутся через символ "/" после ГП. Пример: лошадь с ГП  4500.00 и выбранной в настройках выносливостью 850.11 будет названа "имя 4500.00/11";</li>
        <li><b>Аффикс/завод</b> - установка аффикса/завода для кача, устанавливается в начале кача и при родах жеребёнка.</li>
    </ul>
    <img src="~/img/qfGuide/13.png" />

    <h5>КСК</h5>
    <ul>
        <li><b>Блок галочек с изображениями</b> - настройки для выбора КСК (такие же, как в игре). Если кач зависнет во время записи в КСК - значит, что КСК по данным настройкам закончились, нужно зайти в настройки (не останавливая кач) и отключить некоторые галочки;</li>
        <li><b>Длительность</b> - выбор длительности записи в КСК;</li>
        <li><b>Галочка "Резервный"</b> - включить/отключить запись в зарезервированный КСК по ID (ОБЯЗАТЕЛЬНО указывается ниже);</li>
        <li><b>Галочка "Свой"</b> -  включить/отключить запись в ваш (привязанный к текущему аккаунту) зарезервированный КСК (обязательно должен быть в зарезервированных стойлах). С галочкой "Свой" указывать ID не обязательно;</li>
        <li><b>Поле "ID"</b> - нужно заполнять, если вы включили галочку "Резервный". В это поле вводятся цифры из ссылки на страницу вашего КСК.</li>
    </ul>
    <img src="~/img/qfGuide/14.png" />

    <h5>Докупки/продажи</h5>
    <ul>
        <li><b>Галочка "Покупка еды"</b> - включается докупка еды, если она закончилась;</li>
        <li><b>Галочка "Покупка моркови/смеси"</b> - включается докупка моркови/смеси, если они закончились;</li>
        <li><b>Два поля выбора под этими галочками</b> - выбор главного и второстепенного предмета, который должен продаваться, если кончились экю. Главный продаётся в первую очередь, второстепенный - если закончился главный.</li>
    </ul>
    <img src="~/img/qfGuide/15.png" />

    <h5>Специализация</h5>
    <ul>
        <li><b>Специализация</b> - выбор специализации Классика или Вестерн;</li>
        <li><b>Амуниция</b> - выбор уровня амуниции (1* - 3***);</li>
        <li><b>Галочка "Налобник" и "Бинты"</b> - включить/отключить надевание налобника/бинтов. Используются только стандартные налобники/бинты (1*).</li>
    </ul>
    <img src="~/img/qfGuide/16.png" />

    <h5>Схема</h5>
    <p>
        "Схема" - кач парой или полупарой (различается способом рождения и прокачки жеребят). При прокачке полупарой нужно добавить одну лошадь (кобылу, при условии, что у вас есть случки в команде, или жеребца если есть доступк к родившей его кобыле), а при прокачке парой - две (жеребца и кобылу).
    </p>
    <img src="~/img/qfGuide/17.png" />

    <h5>Тип тренировки</h5>
    <ul>
        <li><b>Галочка "Выписывать из КСК"</b> - функция для VIP-аккаунтов. Если вы записываете лошадей в свой КСК, то при включении этой функции по завершению первой прогулки бот выпишет лошадь из КСК и запишет в общественный с противоположной специализацией (лес, если ваш КСК в горах и наоборот). Внимание! Ставьте первую прогулку в схеме кача так, чтобы она совпадала со специализацией вашего КСК, иначе эффекта не будет;</li>
        <li><b>Галочка "Тяжеловозы"</b> -;</li>
        <li><b>Галочка "Параллельная пара"</b> - если включить галочку, то при прокачке парой бот будет качать жеребца и кобылу одновременно. Без галочки - последовательно, сначала жеребца, потом кобылу.</li>
    </ul>
    <img src="~/img/qfGuide/18.png" />

    <h5>Схема</h5>
    <p>
        Первый и второй блок - прогулки, тренировки и соревнования, не добавленные в схему. Третий блок - ваша схема кача. Двойным кликом или по кнопке "+" вы можете добавлять прогулки, тренировки и соревнования в вашу схему. Так же двойным кликом или по кнопке "-" вы можете удалить действие из схемы. Зажав правую кнопку мыши на нужном элементе, вы можете поменять местами действия в схеме. Во избежание пропуска прогулок желательно ставить их в начало схемы.
    </p>
    <img src="~/img/qfGuide/19.png" />

    <h5>Кнопки</h5>
    <ul>
        <li>Применить - применяет настройки;</li>
        <li>Сохранить - сохраняет настройки в отдельный файл;</li>
        <li>Загрузить - загружает настройки из заранее сохранённого файла;</li>
        <li>Отмена - выход из окна настроек без применения изменений;</li>
        <li>Сбросить - сброс всех настроек в начальное состояние;</li>
    </ul>
    <img src="~/img/qfGuide/20.png" />
</div>

<div>
    <h4 id="coWindow"><b>Окно входа в соу</b></h4>
    <img src="~/img/bqGuide/21.jpg" />
    <p>Здесь находится таблица доступных вам для входа соу.</p>
    <p>Если кнопка войти не активна, значит соу аккаунты еще загружаются.</p>
    <p>Если у вас нет доступных соу для входа, вы будете автоматически перенаправлены на главное окно с соответствующим предупреждением.</p>
    <p>Для входа в соу выберете соу из списка и нажмите кнопку "Войти", после входа вы будете автоматически перенаправлены на главное окно.</p>
    <p>Для возвращения без входа нажмите кнопку "Назад".</p>
</div>

<div>
    <h4 id="manageWindow"><b>Окно управления аккаунтом</b></h4>
    <img src="~/img/bqGuide/22.jpg" />
    <p>Здесь можно посмотреть весь список ресурсов или еды на аккаунте а также купить или продать интересующий ресурс. Для покупки или продажи просто введите рядом с интересующим вас ресурсом число и нажмите соответствующую кнопку. Покупать или продавать можно во время прогона. Для возвращения в главное окно нажмите кнопку "Назад"</p>
</div>

<div>
    <h4 id="statusWindow"><b>Окно статуса</b></h4>
    <p>Отображает информацию о текущем аккаунте и процессе кача лошадей. Верхний блок - информация об аккаунте и выбранных настройках. Второй и третий блоки - информация о прокачке жеребца и кобылы соответственно (информация о жеребце сверху, о кобыле снизу).</p>
    <img src="~/img/qfGuide/21.png" />
    <ul>
        <li>Кнопка "Запуск" - запускает процесс кача;</li>
        <li>Кнопка "Остановить" - останавливает процесс кача;</li>
        <li><b>Кнопка "Жер/Коб"</b> - имеет значение при каче с абортами. Показывает в реальном времени, какого пола жеребенок должен родиться следующим для кача, согласно схеме. Если на узи окажется жеребёнок пола, не совпадающего с тем, что указан на кнопке - будет сделан аборт. Если вы хотите изменить пол рождаемого жеребенка - нажимите на кнопку. Эта кнопка активна только в полупаре. </li>
        <li>Кнопка "Назад" - возвращение на главное окно.</li>
    </ul>
</div>

<div>
    <h4 id="reportWindow"><b>Окно отправки ошибки/предложения</b></h4>
    <p>Для перехода в это окно нажмите по иконке сверху:</p>
    <img src="~/img/qfGuide/21.jpg" />
    <p>Здесь можно отправить разработчикам предложение для ввода функции или же сообщить о наблюдаемой ошибке. Выбирете в списке, что вы хотите отправить, напишите что у вас произошло, как с вами связаться (н еобязательно) и нажмите кнопку "Отправить"</p>
    <img src="~/img/qfGuide/22.png" />
</div>

<div>
    <h4 id="advise"><b>Советы по использованию программы</b></h4>
    <p>Добавлять или удалять пункты из схемы можно двойным кликом по ним.</p>
    <p>Ни в коем случае нельзя менять тип тренировки (команда/не команда) во время процесса тренировок.</p>
    <p>При попытки изменения схемы во время процесса тренировок изменение схемы проигнорируется. Это сделано во избежание ошибок.</p>
    <p>Тренировки можно начинать с любого места, кроме ситуации, когда лошадь находится в процессе родов и уже не может идти на соревнования (8 - 12 месяц беременности). Будет ошибка.</p>
</div>

<div>
    <h4 id="changeList"><b>Краткие список изменений для старых пользователей</b></h4>
    <ul>
        <li>Изменения в дизайне: весь интерфейс теперь сосредоточен в одном окне;</li>
        <li>Исправлена отправка отчетов, теперь она будет быстрее, можно выбрать отправляете вы ошибку или хотите что-то предложить, сбои с отправкой приближены к нулю;</li>
        <li>В окне входа всегда видно таблицу с прокси;</li>
        <li>В окне входа все сохранненые аккаунты отображаются в таблице справа;</li>
        <li>Сохранять аккаунты можно под одним логином на разных серверах, в таблице сохранненых аккаунтов рядом будет отображаться для какого сервера сохранен аккаунт;</li>
        <li>Добавлено отдельное сохранение аккаунта по соу, для этого в главном окне (уже будучи залогиненым по соу) нужно нажать кнопку "Сохранить соу", сохранненый аккаунт появится в таблице логинов в окне логина с припиской "(соу)";</li>
        <li>В главном окне добавлено отображение соу аккаунта;</li>
        <li>В главном окне добавлено "Управление аккаунтом", здесь можно быстро купить/продать еду или некоторые предметы;</li>
        <li>Убраны некоторые пункты в информации о лошадях;</li>
        <li>Добавлено ограничение здоровья. Если здоровье лошади опустится ниже выбранного значения, работа качера будет остановлена;</li>
        <li>Добавлена приписка навыка к основному ГП, выбирается из списка;</li>
        <li>Добавлена возможность выбора своего КСК вместо указания ID;</li>
        <li>Добавлена возможность выбора продажи предмета для пополнения экю. Список предметов: пшеница, кожа, яблоки, морковь, дерево, железо, песок, солома, лен;</li>
        <li>Добавлена возможность выбора дополнительного предмета для продажи, если основной закончился;</li>
        <li>Галочки, отвечающие за покупку моркови и смеси, соединены в одну галочку;</li>
        <li>Добавлена возможность выписки из своего КСК для VIP-аккаунтов, имеющих данную функцию;</li>
        <li>Добавлен хлыс;</li>
        <li>Добавлен кач не в команде;</li>
        <li>Добавлен кач тяжеловозов. Если 3 случки не родился необходимый жеребенок, то программа остановится с соответствующим предупреждением;</li>
        <li>Программа работает в разы стабильнее;</li>
        <li>Добавлено окно статуса. В основном им удобно пользоваться во время кача пары;</li>
        <li>Стабилизирована покупка амуниции.</li>
    </ul>
</div>