@{
    ViewData["Title"] = "Скрипты";
}

<div data-aos="zoom-in">
    <h3 class="text-center">Набор скриптов для различных рутинных действий</h3>
    <figure class="text-center">
        <img src="~/img/ScriptExample.JPG" class="figure-img img-fluid rounded" style="width:400px;" alt="script">
        <figcaption class="figure-caption text-center">Пример внешнего вида одного из скриптов - Seller-Rewriter</figcaption>
    </figure>
    <div>
        <p>На всех уровнях подписки вам предлагается набор скриптов. Список динамично пополняется, создаются новые скрипты и переписываются старые. На данный момент в пакет скриптов входят:</p>
        <ul>
            <li>Обновлённый прогон табуна со случками Covers 2.0. Работает на всех серверах и с любыми видами лошадей.;</li>
            <li>Обновлённый скрипт Seller-Rewriter, который может выкупать лошадей из зарезервированных продаж, переименовывать их (включая смену аффикса и завода) и выставлять на любой тип продаж за экю или пропуски. Действия могут быть включены как отдельно (только скупка/только переименовка и т.д.), так и в порядке друг за другом (выкупить, после переименовать; переименовать, после продать и т.д.);</li>
            <li>Скрипт на пропин соревнований;</li>
            <li>Скрипт на кач Qually Power;</li>
            <li>Поздравления и поимка НЛО.</li>
        </ul>
    </div>
    <div class="text-center"><a asp-controller="Subscribe" asp-action="Index" class="btn btn-primary btn-lg" style="margin-top: 10px;">Подписаться</a></div>
</div>