@model QuallyLib.Article
@{
    ViewData["Title"] = "Добавление новости";
}

<h3 class="text-center">Добавить заказ</h3>
<div>
    <form asp-controller="Article" asp-action="Add" method="post">
        <div>
            <div class="form-group">
                <label asp-for="Title">Заголовок</label>
                <input type="text" asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Body">Контент</label>
                <textarea rows="10" asp-for="Body" class="form-control"></textarea>
            </div>
            <input type="submit" value="Добавить" class="btn btn-secondary" />
        </div>
    </form>
</div>

