@{
    ViewData["Title"] = "Контакты";
    <div>
        <h3 class="text-center">Контакты</h3>
        <p>С нами можно связаться по электронной почте, VK или на канале Discord:</p>
        <p><img src="~/img/mail.png" style="height:20px;"> interception@inbox.ru</p>
        <p><img src="~/img/vk.png" style="height:10px;"><a target="_blank" href="https://vk.com/botqually"> https://vk.com/botqually</a></p>
        <p><img src="~/img/discord.png" style="height:20px;"><a target="_blank" href="https://discord.gg/BK5n5ND"> https://discord.gg/BK5n5ND</a></p>
    </div>
}
