@{
    ViewData["Title"] = "Скачать";
}

<div data-aos="zoom-in">
    <div class="text-center">
        <img src="~/img/QuallyLauncher.png" style="width:500px; height:400px" class="rounded mx-auto d-block" />
    </div>
    <p style="font-size:20px">
        Лаунчер - это программа для управления вашей подпиской, через неё вы можете приобрести подписку/повысить её уровень. Вы можете увидеть список доступных вам программ/скриптов, новости, обновлять или удалять программы, всегда получать свежие версии скриптов. Также, если вам что-то не понравится в обновлениях программ, вы всегда можете установить наиболее удобную для вас версию.
    </p>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Минимальные системные требования</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>ОС: <b>Windows 7 x32</b></li>
                    <li>Процессор: <b>Intel Celeron N3350/AMD A4-9125</b></li>
                    <li>Оперативная память: <b>2 GB ОЗУ</b></li>
                    <li>Сеть: <b>Широкополосное подключение к интернету</b></li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Рекомендуемые системные требования</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>ОС: <b>Windows 10 x64</b></li>
                    <li>Процессор: <b>Intel Core i3-6100/AMD FX-4100</b></li>
                    <li>Оперативная память: <b>6 GB ОЗУ</b></li>
                    <li>Сеть: <b>Широкополосное подключение к интернету</b></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <form asp-controller="Home" asp-action="DownloadPost" method="post">
            <input type="submit" style="width:150px" value="Скачать" class="btn btn-success" />
        </form>
    </div>
    <div style="margin-top:50px;">
        <h4 class="text-center">Инструкция</h4>
        <p><b>Лаунчер, по мере выхода обновлений, скачивает обновления самостоятельно и после скачивания оповестит о необходимости перезапуска лаунчера для обновления. После того, как программа закроется, не открывайте её самостоятельно, она запустится сама после обновления. Новости об обновлениях можно увидеть в блоке новостей. При обнаружении новости об обновлении лаунчера просьба НЕ закрывать лаунчер до его обновления.</b></p>
        <p>При первом запуске вас встречает подобное окно:</p>
        <img src="~/img/launcherGuide/1.png" />
        <p>Это блок с вашим id и информацией о подписке:</p>
        <img src="~/img/launcherGuide/2.png" />
        <p>После приобретения подписки он будет выглядеть так:</p>
        <img src="~/img/launcherGuide/3.jpg" />
        <ul>
            <li><b>Кнопка "Купить подписку"</b> - переводит вас на наш сайт, где вы можете оформить покупку подписки.</li>
            <li><b>Кнопка "Активировать пробный период"</b> - активирует ваш пробный период 2-го уровня подписки на 5 дней. (на время пробного периода не действуют скрипты).</li>
            <li><b>Кнопка "Активировать ключ"</b> - в поле над ней вводится ключ, выданный администрацией в случае каких-то трудностей с оплатой. После введения нажимаете кнопку "Активировать ключ", после этого активируется подписка.</li>
            <li><b>Кнопка "Отправить сообщение об ошибке"</b> - переводит вас на окно отправки отчета о найденной ошибке.</li>
        </ul>
        <img src="~/img/launcherGuide/4.png" />
        <p>Это блок новостей:</p>
        <img src="~/img/launcherGuide/5.png" />
        <p>Здесь отображаются новости, опубликованные администрацией. В основном это новости об обновлениях.</p>
        <p>После приобретения подписки, ваше окно будет выглядить так:</p>
        <img src="~/img/launcherGuide/6.png" />
        <p>Это блок доступных вам программ (программы будут добавляться или удаляться в зависимости от уровня вашей подписки):</p>
        <img src="~/img/launcherGuide/7.png" />
        <p>Нажав на кнопку в виде стрелочки:</p>
        <img src="~/img/launcherGuide/9.jpg" />
        <p>Откроется меню управления программой:</p>
        <img src="~/img/launcherGuide/10.jpg" />
        <ul>
            <li><b>Кнопка "Установить"</b> - устанавливает программу;</li>
            <li><b>Кнопка "Сделать ярлык на рабочем столе"</b> - делает ярлык на рабочем столе, если вам не хочется постоянно запускать лаунчер для включения программы;</li>
            <li><b>Кнопка "Переустановить"</b> - переустанавливает программу без потери настроек, если произошли какие-то неполадки с программой;</li>
            <li><b>Кнопка "Удалить"</b> - полностью удаляет программу без сохранения настроек;</li>
        </ul>
        <p>Запуск производится путем нажатия на эту кнопку:</p>
        <img src="~/img/launcherGuide/15.jpg" />
        <p>Здесь отображается версия программы, которая установлена на вашем компьютере:</p>
        <img src="~/img/launcherGuide/11.jpg" />
        <p>Здесь отображается версия программы, которая является актуальной:</p>
        <img src="~/img/launcherGuide/12.jpg" />
        <p>Этот блок отвечает за все предыдущие версии программы, здесь вы можете скачать любую интересующую вас версию. Версии работают отдельно друг от друга, вы можете иметь хоть 10 разных версий программ помимо основной.</p>
        <img src="~/img/launcherGuide/13.jpg" />
        <p>Также с покупкой подписки вам будут доступны скрипты, которые можно посмотреть, открыв окно со скриптами:</p>
        <img src="~/img/launcherGuide/14.jpg" />
        <p>Выбираете любой интересующих скрипт, выделяете, нажимаете правой кнопкой и копировать. Все скрипты обновляются в этом окне автоматически. Новости о том, что какой-то скрипт был обновлен, можно увидеть в главном окне или в нашей группе ВК.</p>
    </div>
</div>